
body {
    background-color: linen
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.gallery {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.grid_cell {
    align-self: baseline;
}

@media (min-width: 600px) {
    .gallery { 
        grid-template-columns: repeat(2, 275px); 
    }
  }

@media (min-width: 900px) {
    .gallery { 
        grid-template-columns: repeat(3, 275px); 
    }
  }

@media (min-width: 1200px) {
    .gallery { 
        grid-template-columns: repeat(4, 275px); 
    }
  }

.gallery_thumb {
    width: 250px;
    object-fit: cover;
}

.exhibit {
    width: 300px;
}

@media (min-width: 600px) {
    .exhibit {
        width: 550px;
    }
}

@media (min-width: 900px) {
    .exhibit {
        width: 850px;
    }
}

@media (min-width: 1200px) {
    .exhibit {
        width: 1150px;
    }
}
